.icon-left {
  left: 10px;
  position: absolute;
  top: 10px;
}

.icon-right {
  bottom: 10px;
  position: absolute;
  right: 10px;
}

.season-display.winter i {
  color: lightblue;
}

.season-display.summer i {
  color: red;
}

.season-display {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.winter {
  background-color: aliceblue;
}

.summer {
  background-color: orange;
}
